# GROQ API KEY
GROQ_API_KEY=your_groq_api_key

# PINECONE CONFIGURATION
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_ENVIRONMENT=your_pinecone_environment #OPTIONAL
PINECONE_INDEX_NAME=repopilotdb

# NEONDB CONFIGURATION
NEON_DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# HUGGINGFACE CONFIGURATION
HUGGINGFACEHUB_API_TOKEN=your_huggingface_token
